.jumbotron {
	background-image: url("https://images.pexels.com/photos/1112048/pexels-photo-1112048.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
	font-weight: bold;
	color: white;
	font-family: Helvetica;
}

body{
	background-image: url("https://images.pexels.com/photos/333304/pexels-photo-333304.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
	 letter-spacing:  2px;

}

.navbar{
	background-image:url("https://images.pexels.com/photos/1112048/pexels-photo-1112048.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
}

.table{
	background-color: coral;
}

.footer{
		background-image:url("https://images.pexels.com/photos/1112048/pexels-photo-1112048.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");

}

.login{
	color: white;
}


/*buttons*/

a{

position: relative;
display:inline-block;
padding: 15px 30px;
color: #03e9f4 !important;
text-transform: uppercase;
letter-spacing:  4px;
text-decoration: none;
font-size: 24px;
overflow: hidden;
transition: 0.5s;	
}

a:hover
{
	
	background:white;
	box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
	transition-delay: 0.3s;
}

#register{
	font-weight:bold;
	color: white !important;
	background-color: grey;

}

#login{
position: relative;
display:inline-block;
color: white;
background: #03e9f4 !important;
text-transform: uppercase;

text-decoration: none;

overflow: hidden;
transition: 0.5s;	
}

#login:hover{
	background-color: #03e9f4 !important;
	box-shadow: shadow;
}


	

#register:hover{
	background-color: #03e9f4 !important;
	box-shadow: shadow;
	text-decoration: underline;
	
}



#addCoursebtn{
	width: 200px;
	font-weight: bold;
	background-color: #03a4f4;

}

#addCoursebtn:hover{
	background: white  ;
    
	box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
	transition-delay: 0.3s;
}


.dangerButton{
text-transform: uppercase !important;
color: black !important;
background-color: transparent!important;
}

.dangerButton:hover{
box-shadow: 0 0 10px #eb0450, 0 0 40px #eb0450, 0 0 40px #eb0450;
background-color: #eb0450 !important;
	transition-delay: 0.3s;

}

.warningButton{
text-transform: uppercase !important;
color: black !important;
background-color: #eb0450!important;
}

.warningButton:hover{
text-transform: uppercase !important;
color: black !important;
background-color: transparent!important;
}

#coursesContainer {
	background-color: grey;
	
}





